@font-face {
    font-family: pp woodland;
    src: url(PPWoodland-Regular.ttf);
}
*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body
{
width: 100%;
height: 100%;
}
body{
    overflow-x: hidden;
}

#nav{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 80px;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;

}
#nav-part1{
    width: 35px;
    height: 30px;
    /* background-color: yellow; */
}
.line{
    width: 100%;
    height: 4px;
    background-color: #434B34;
    margin-bottom: 5px;
    border-radius: 3px;
}



button{
    font-size: 17px;
    padding: 5px 14px;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    border: 1px solid #434B34;
    background-color: #434B34;
    color: #fff;
    margin-left: 10px;
}
button:nth-child(1){
    color: #434B34;
    background-color: transparent;
}
#page1{
    width: 100%;
    height: 100vh;
    position: relative;
    
    /* background-color: #000; */
}
#page1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
#page1 svg{
    top: -15%;
    position: absolute;
    scale: 0.2;
    /* position: relative; */
    fill: #434B34;
    z-index: 9;
}
#page2{
    width: 100%;
    height: 150vh;
    background-color: #5B6647;
    position: relative;
}
#page2 svg{
    position: absolute;
}
#text-container{
    padding-top: 15vh;
    min-height: 60vh;
    width: 100%;
}
#text-container h2{
    position: relative;
    z-index: 9;
    line-height:5.5vw;
    font-size: 4.9vw;
    text-align: center;
    font-family: PP Woodland;
    /* color: #E3E3C4; */
    font-weight: 200;
    color: #434B34;
}
#text-container h3{
    position: relative;
    z-index: 9;
    line-height:5.5vw;
    font-size: 4.9vw;
    text-align: center;
    font-family: PP Woodland;
    /* color: #E3E3C4; */
    font-weight: 200;
    color: #434B34;
}
#page2 #svg1{
    /* left: -50vw; */
    bottom: -10%;
    height: 20vh;
    width: 250vw;
    fill: #E3E3C4;
    position: absolute;
    z-index: 1;
    /* left: -50%; */
}

#page2 #svg2{
    bottom: -10%;
    height: 40vh;
    width: 250vw;
    left:-10vw;
    fill: #5B6647;
    position: absolute;
    z-index: 9;
    
}

#page3{
    z-index: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #F7F7EE;
    position: relative;
    padding-top: 30vh;
}
#text-page3{
    width: 100%;
    /* text-align: center; */
    /* position: absolute; */
    /* margin-top: 30vh; */
    top: 20vh;
    /* background-color: #e92b2b; */

}
#text-page3 h1{
    text-align: center;
    font-size: 4.7vw;
    font-family: pp woodland;
    color: #E3E3C4;
    font-weight: 500;
}
#bottom-page3{
    width: 100%;
    min-height: 100vh;
    /* background-color: #32adad; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom-part1{
    width: 50%;
    min-height: 100vh;
    /* background-color: aliceblue; */
    padding: 100px 100px;

}
#bottom-part1 p{

    font-family: gilroy;
    font-size: 1.1vw;
    line-height: 1.4vw;
    color: #5B6647;
    font-weight: 500;
    margin-bottom: 5vh;
}
#bottom-part1-explore {
    width: 45vh;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10vh;
    /* gap: 10vh; */
    /* background-color: #fff; */
}
#bottom-part1-explore  h3{
    
    color: #434B34;
    font-size: 1.6vw;
    font-family: gilroy;
    font-weight: 500;
    /* margin-right: 0vh; */
}
#bottom-part1 #bottom-part1-img{
    width: 85vh;
    height: 50vh;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20vh;
}
#bottom-part1-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#bottom-part1 button{
    padding: 5px 10px;
}
#bottom-part2{
    width: 50%;
    min-height: 100vh;
    /* background-color: #5B6647; */
    
}
#bottom-part2 #image{
    width: 80%;
    height: 60vh;
    border-radius: 20px;
    /* overflow: hidden; */
}
#bottom-part2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}
#bottom-part2 #image2{
    width: 20vw;
    height: 22vw;
    background-color: aqua;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 2.5vh;
} 
#bottom-part2 #image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#page4{
    width: 100%;
    min-height: 100vh;
    padding: 100px 70px;
    background-color: #F7F7EE;
}
.elem{
    width: 100%;
    height:25vh ;
    background-color: lightseagreen;
    border-bottom: 1px solid #5B6647;
    border-left: 1px solid #5B6647;
    border-right: 1px solid #5B6647;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.elem:nth-child(1){
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top: 1px solid #5B6647;
}
.elem:nth-last-child(1){
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.elem #elem1{
    width: 24%;
    height: 100%;
    background-color: crimson;
    position: absolute;
    left: 0%;
    transform: translate(-100%);
    transition: all ease 0.5s;
    
}
#elem1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.elem #elem2{
    width: 100%;
    height: 100%;
    background-color: #F7F7EE;
    transition: all ease 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 70px;
}
#elex1 h2{
    font-family: pp woodland;
    font-size: 2.5vw;
    font-weight: 100;
    color: #434B34;
}
#elex1 p{
    font-family: gilroy;
    font-size: 1.2vw;
    margin-top: 2vh;
    color: #434B34;
}
#elex2{
    background-color:#5B6647 ;
    padding: 3px 17px;
    border-radius: 50px;

}


#elex2 h5{
    opacity: 1;
    font-size: 1.2vw;
    font-family: gilroy;
    font-weight: 400;
    position: relative;
    /* transition: all ease 0.4s; */
    color: #FFFFFF;
    /* background-color: #fff; */
}
.elem:hover  #elem2 #elex2 {
    background-color:#FFFFFF ;
  
}
.elem:hover  #elem2 #elex2 h5{
    opacity: 0;
  
}
#elex2 h5 i{
   position: absolute;
    font-size: 1.2vw;
    font-family: gilroy;
    font-weight: 400;
    left: 0%;
    /* background-color: #E3E3C4; */
    color: #5B6647;
    top: 0%;
    opacity: 0;
    /* color: #FFFFFF; */
    /* background-color: #fff; */
}
.elem:hover  #elem2 #elex2 h5 i{
    opacity: 1;
    color: #434B34;  
}
.elem:hover #elem2{
    width: 76%;
    background-color: #5B6647;
}
.elem:hover #elem2 #elex1 h2{
    color: #D7D8B8;
}
.elem:hover #elex1 p{
    color: #F7F7EE;

}
.elem:hover #elem1{
    /* width: 78%; */
    transform: translate(0%);
}
#page5{
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7EE;
    /* position: relative; */
}
#page5 #page5-part1{
    width: 80%;
    min-height:60vh ;
    padding-left: 60px;
    padding-top: 10vh;
    /* background-color: #1b9857; */

}
#part1-image{
    width: 100%;
    height: 80vh;
    border-radius: 30px;
    overflow: hidden;
}
#part1-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#page5 #page5-part2{
    width: 20%;
    min-height:90vh ;
    /* background-color: #a54f4f; */
    position: relative;
}
#part2-image {
    position: absolute;
    width: 90%;
    bottom: 0%;
    right: 0%;
    background-color: #fff;
    height: 55vh;
    border-radius: 20px;
    overflow: hidden;
} 
#page5-part2 #part2-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: "top 50%";

}
#page5-svg {
    background-color:#F7F7EE;
    margin-top: 10vh;
    position: relative;
    width: 100%;
    /* filter: invert(100%); */
    height: 20vh;

}
#page5-svg #p5-svg1 {
    position: absolute;
    width: 250vw;
    height: 20vh;
    left: -10vh;
    /* transform: rotate(360deg); */
    /* transform: translate3d(-386.185px, 0px, 0px); */
    /* translate: none; rotate: none; scale: none; transform: translate3d(-386.185px, 0px, 0px); */
    fill:#03364F ;
    z-index: 9;
    rotate: 180deg;
}
#page5-svg #p5-svg2{
    position: absolute;
    width: 250vw;
    height: 20vh;
    /* filter: invert(100%); */
    fill:  #E3E3C4;
    rotate: 180deg;
}
#page6{
    width: 100%;
    min-height: 100vh;
    background-color: #03364F;
    padding-bottom: 10vh;
    position: relative;
}
#page6-head{
    width: 100%;
    padding-top: 20vh;
    text-align: center;
}
#page6-head h2{
    font-family: pp woodland;
    font-size: 4vw;
    font-weight: 100;
    color: #043F5D;
    line-height: 5.1vw;
}
#page6-head p{
    font-family: gilroy;
    font-size: 1vw;
    font-weight: 500;
    color: #EAEDE6;
    line-height: 1.2vw;
    margin-top: 5vh;
}
#page6-center{
    width: 100%;
    height: 90vh;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: relative;
}
.page6-elem{
    width: 22%;
    height: 60vh;
    /* background-color: #349d5a; */
    /* border: 2px solid#000; */
}
.page6-elem #elem-image{
    width: 100%;
    height: 27vh;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
}
.page6-elem #elem-image img{
    width: 100%;
    height: 100%;
   object-fit: cover;

}
.page6-elem  h3{
    font-family: pp woodland;
    font-size: 2.3vw;
    color: #E3E3C4;
    font-weight: 200;
    margin-top: 3vh;

}
.page6-elem  p{
    font-family: gilroy;
    font-size: 0.98vw;
    color: #F7F7EE;
    font-weight: 400;
    margin-top: 3.2vh;
    line-height: 1.3vw;

}
.page6-elem:nth-child(1){
    /* position: absolute; */
   margin-top: 5vh;

}
.page6-elem:nth-child(2){
    position: absolute;
    bottom: 0%;
    right: 28%;

}
#page6 h5{
    font-family: gilroy;
    font-size: 1.7vw;
    text-align: center;
    font-weight: 500;
    color: #F7F7EE;
    /* margin-bottom: 10vh; */
}
#page6 span i{
    font-size: 1.3vw;
    color: #5B6647;
    padding: 0px 17px;
}
#page6 h5:hover {
    color: #E3E3C4;
}
#page6 h5:hover span{
    background-color: #E3E3C4;
}
#page6 span{
    background-color: #fff;
    border-radius: 50px;
}
#page6-svg1{
    width: 250vw;
    height: 20vh;
    position: absolute;
    bottom: -10%;
    fill: #03364F;
    z-index: 9;
    left: -500px;
    
}
#page6-svg2{
    width: 250vw;
    height: 20vh;
    position: absolute;
    bottom: -10%;
    fill: #E3E3C4;
    left: -700px;

}
#page7{
    min-width: 100%;
    min-height:100vh;
    background-color: #F7F7EE;
    padding-bottom: 20vh;
    
}
#page7-text{
    min-width: 100%;
    text-align: center;
    padding-top: 30vh;
}
#page7-text h2{
   font-family: pp woodland;
   font-size: 4vw;
   line-height: 4.5vw;
   font-weight: 100;
   color: #E3E3C4;
}
#page7-text h3{
    font-family: pp woodland;
    font-size: 4vw;
    line-height: 4.5vw;
    font-weight: 100;
    color: #E3E3C4;
 }
 #page7-center{
    width: 150%;
    height: 70vh;
    /* background-color: crimson; */
    display:flex;
    /* white-space: nowrap; */
    align-items: center;
    justify-content: center;
    gap: 20vh;
    position: relative;
    overflow: auto;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0);margin-top: 13vh;
 }
 #center-part1{
    width: 40%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    overflow-x: auto;

 }
 #center-part1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 #mid{
    width: 30%;
    opacity: 0;
    /* background-color: #fff; */
    position: absolute;
    /* height: 100%; */
    text-align: center;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 #mid h1{
    font-family: pp woodland;
    font-size: 4vw;
    font-weight: 200;
    color: #434B34;
    line-height: 4.3vw;
 }
 #mid p{
    font-family: gilroy;
    font-size: 0.8vw;
    line-height: 1.1vw;
    font-weight: 500;
    margin-top: 5vh;
    color:#434B34 ;

 }
 #mid-bottom{
    opacity: 0;
 }
 #page7 #mid-bottom h5{
    font-family: gilroy;
    font-size: 1.3vw;
    text-align: center;
    font-weight: 500;
    color: #444C35;
    margin-top: 15vh;
    /* background-color: red; */
    /* margin-bottom: 10vh; */
}
#page7 #mid-bottom span i{
    font-size: 1.3vw;
    color: #5B6647;
    padding: 0px 17px;
}
#page7 #mid-bottom h5:hover {
    color: #E3E3C4;
}
#page7 #mid-bottom h5:hover span{
    background-color: #E3E3C4;
}
#page7 #mid-bottom span{
    background-color: #fff;
    border-radius: 50px;
}
 #center-part2{
    width: 40%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
 }
 #center-part2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 #page8{
    width: 100%;
    height: 108vh;
    position: relative;
    background-color: #5B6647;
 }
 #page8-top{
    width: 100%;
    height: 15vh;
    background-color: #F7F7EE;
    position: absolute;
 }
 #image8{
    /* position: absolute; */
    /* top: -15vh; */
    width: 100%;
    height: 100vh;
    /* z-index: -1; */
 }
 #image8 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: botto%; */
 }
 #page8-svg{
    width: 100%;
    height: 20vh;
    position: absolute;
    /* background-color: crimson; */
    bottom: 5%;
    transform: rotate(360deg);
 }
 #page8-svg2{
    width: 250vw;
    rotate: 180deg;
    fill:  #5B6647;
    position: absolute;
    left: -270px;

    transform: translateY(85%);
    /* height: 100%; */
    /* filter: invert(100%); */

 }
 #page8-svg1{
    width: 250vw;
    rotate: 180deg;
    /* height: 100%; */
    /* filter: invert(100%); */
    fill:#D7D8B8 ;


 }

 #page9{
    width: 100%;
    min-height: 20vh;
    background-color: #5B6647;
}
#page9 #page9-center{
    width: 100%;
    height: 30vh;
    padding-top: 10vh;
    /* background-color: rgb(65, 207, 115); */
}

#page9-center h1{
    text-align: center;
    color: #434B34;
    font-family:pp woodland ;
    font-size: 4vw;
    font-weight: 200;
    line-height: 4.3vw;
}
#page9-center p{
    text-align: center;
    color: #F7F7EE;
    font-family: gilroy;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 1.1vw;
    margin-top: 3vh;
}
#page9 svg{
    width: 100%;
    min-height: 100vh;
}
#page9-svg{
    position: relative;
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* background-color: #f5961b; */
}
#page9-bottom{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -20%;
    left: 0%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    /* background-color: #fff; */
}
#page9-1{
    width: 24vw;
    height: 50vh;
    background-color: red;
    border-radius: 20px;
    /* position: absolute;
    bottom: 5%; */
    margin-top: 50vh;
    overflow: hidden;
}
#page9-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page9-2{
    width: 33vw;
    height: 100vh;
    background-color: rgb(16, 173, 10);
    border-radius: 20px;
    overflow: hidden;
}
#page9-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
#page9-3{
    width: 24vw;
    height: 50vh;
    border-radius: 20px;
    background-color: rgb(19, 72, 158);
    margin-top: 0vh;
    overflow: hidden;
}
#page9-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page9-last{
    position: absolute;
    width: 100%;
    bottom: -35%;
}
#page9-last h5{
    font-size: 18px;
    font-family: gilroy;
    text-align: center;
    font-weight: 500;
    color: #F7F7EE;
}
#page9-last h5:hover{
    color: #E3E3C4;
}
#page9-last h5:hover i{
    color: #778061;
    background-color: #E3E3C4;
}
#page9-last span i{
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 50px;
    margin-left: 4px;
    color: #778061;
}
#page10{
    margin-top: 42.2vh;
    width: 100%;
    min-height: 100vh;
    background-color: #F7F7EE;
}
#page10-text{
    width: 100%;
    text-align: center;
    height: 50vh;
    padding-top: 20vh;
}
#page10-text h1{
    font-size: 4vw;
    font-family: pp woodland;
    color: #434B34;
    font-weight: 100;
}
#page10-text p{
    font-size: 0.8vw;
    font-family: gilroy;
    color: #2E3323;
    font-weight: 500;
    margin-top: 3vh;
}
#top-1{
    width: 100%;
    height: 90vh;
    /* background-color: #ce3f3f; */
    display: flex;
    justify-content: space-between;
    
}
#top-1a{
    width: 50%;
    height: 100%;
    /* padding-left: 50px; */
    /* background-color: #fff; */
}
#image10{
    width: 75%;
    height: 75vh;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 60px;

}
#top-1a img{
    width: 100%;
    height: 100%;
}
#top-1b{
    width: 50%;
    height: 100%;
    /* background-color:lightblue; */
    position: relative;
}
#top-1b #container{
    padding-left: 10px;
    width: 50%;
    height: 20%;
    /* background-color: #e82929; */
    position: absolute;
    top: 35%;
    left: 14%;
}
#container h3{
    font-family: pp woodland;
    font-size: 2.1vw;
    font-weight: 200;
    color: #2E3323;
}
#container p{
    font-family: gilroy;
    font-size: 0.9vw;
    font-weight: 500;
    color: #2E3323;
    letter-spacing: 0px;
    margin-top: 2.5vh;
}
#page10-last{
    position: absolute;
    width: 40%;
    /* bottom: -35%; */
    bottom: 35%;
    left: 14%;
    /* background-color: #9b1919; */
    padding-left: 10px;
}
#page10-last h5{
    
    font-size: 16px;
    font-family: gilroy;
    text-align: left;
    font-weight: 500;
    color: #5B6647;
    /* background-color: #fff; */
}
#page10-last h5:hover{
    color: #444C35;
}
#page10-last h5:hover i{
    color: #E3E3C4;
    background-color: #444C35;
}
#page10-last span i{
    padding: 5px 15px;
    background-color: #5B6647;
    border-radius: 50px;
    margin-left: 4px;
    color: #E3E3C4;
}
#top-2{
    width: 100%;
    height: 90vh;
    /* background-color: #ce3f3f; */
    display: flex;
    justify-content: space-between;
    
}
#top-2b{
    width: 50%;
    height: 100%;
    /* padding-left: 50px; */
    /* background-color: #fff; */
}
#image11{
    width: 75%;
    height: 75vh;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 60px;

}
#top-2b img{
    width: 100%;
    height: 100%;
}
#top-2a{
    width: 50%;
    height: 100%;
    /* background-color:lightblue; */
    position: relative;
}
#top-2a #container{
    padding-left: 10px;
    width: 50%;
    height: 20%;
    /* background-color: #e82929; */
    position: absolute;
    top: 33%;
    left: 40%;
}
#container h3{
    font-family: pp woodland;
    font-size: 2.1vw;
    font-weight: 200;
    color: #2E3323;
}

#container p{
    font-family: gilroy;
    font-size: 0.8vw;
    font-weight: 500;
    color: #2E3323;
    letter-spacing: 0px;
    margin-top: 2.5vh;
    line-height: 1.1vw;
}
#page10-last1{
    position: absolute;
    width: 40%;
    /* bottom: -35%; */
    left: 40%;
    top: 70%;
    /* background-color: #9b1919; */
    padding-left: 10px;
}
#page10-last1 h5{
    
    font-size: 16px;
    font-family: gilroy;
    text-align: left;
    font-weight: 500;
    color: #5B6647;
    /* background-color: #fff; */
}
#page10-last1 h5:hover{
    color: #444C35;
}
#page10-last1 h5:hover i{
    color: #E3E3C4;
    background-color: #444C35;
}
#page10-last1 span i{
    padding: 5px 15px;
    background-color: #5B6647;
    border-radius: 50px;
    margin-left: 4px;
    color: #E3E3C4;
}
#page11{
    margin-top: 0;
    width: 100%;
    height: 108vh;
    position: relative;
    background-color: #000;
}
#top-11{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 20vh;
    background-color: #F7F7EE;
}
#page11 img{
    width: 100%;
    height: 100%;
}
#page11 #upper-11{
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    height: 25vh;
    background-color: #5A6546;
    border-radius: 20px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%,0);
}
#upper-11 h1{
    font-size: 50px;
    font-family: pp woodland;
    color: #E2E2C3;
    font-weight: 100;
}
#upper-11 h5{
    font-family: gilroy;
    font-size: 22px;
    color: #F5F5EC;
    font-weight: 500;

}
#page11 #upper-11 h5:hover i{
    color:#5B6647 ;
    background-color:#E3E3C4 ;
}
#page11 #upper-11 span i{
    padding: 5px 15px;
    background-color:  #E3E3C4 ;
    border-radius: 50px;
    margin-left: 10px;
    color: #444C35;
}
#page-last{
    width: 100%;
    max-height: 80vh;
    background-color: #03364F;
    overflow: hidden;
    position: relative;
}
#page-last svg{
    width: 100%;
    height: 100%;
    object-position: top 0%;
}

#page-last #last-svg {
    /* fill: #E3E3C4; */
    position: absolute;
    top: -32%;
    left: 0%;
    scale: 0.14;
}
#ek-dam-last{
    width: 100%;
    height: 50vh;
    /* background-color: crimson; */
    position: absolute;
    top: 30%;
    padding: 0px 60px;
}
.foot{
    width: 100%;
    height: 7vh;
    border-bottom: 2px solid #043D58;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #000; */
}
.foot h3{
    text-align: center;
    color: #F7F7EE;
    font-family: gilroy;
    font-size: 13px;
    font-weight: 500;
}
.foot:nth-child(1){
    margin-top: 5vh;
}
.foot:nth-child(2){
    margin-top: 20vh;
}
.foot:nth-child(3){
    border-bottom: none;
}
#last2{
    width: 100%;
    display: flex;
    /* background-color: #fff; */
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    position: absolute;
    bottom: 3%;
    left: 0%;

}
#last2 h6{
    font-size: 12px;
    color: #95A6AA;
    font-family: gilroy;
    font-weight: 400;

}